.table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .thead-dark th {
    background-color: #343a40;
    color: #fff;
  }
  
  .btn-danger {
    margin-right: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .modal-header {
    background-color: #007bff;
    color: white;
  }
  
  .modal-footer {
    justify-content: center;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 0.25rem;
  }
  
  .modal-dialog {
    max-width: 500px;
  }
  
  .modal-content {
    border-radius: 0.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  input#tarjetaCredito {
    letter-spacing: 2px; /* Espaciado entre los caracteres */
  }
  