<div class="container mt-2">
  <div class="title-container text-center mb-4">
    <h2 class="main-title">
      <i class="bi bi-laptop"></i> Catálogo
    </h2>
    <p class="subtitle">Encuentra la mejor computadora para tus necesidades</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card p-3 mb-4 sidebar">
        <h5 class="card-title">Filtrar Productos</h5>
        <div class="mb-3">
          <label for="ramBusqueda" class="form-label">RAM</label>
          <select class="form-select" id="ramBusqueda" [(ngModel)]="ramBusqueda" (change)="onFiltroChange()">
            <option value="">Todas las RAM</option>
            <option *ngFor="let ram of rams" [value]="ram">{{ ram }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="procesadorBusqueda" class="form-label">Procesador</label>
          <select class="form-select" id="procesadorBusqueda" [(ngModel)]="procesadorBusqueda" (change)="onFiltroChange()">
            <option value="">Todos los procesadores</option>
            <option *ngFor="let procesador of procesadores" [value]="procesador">{{ procesador }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="tarjetaGraficaBusqueda" class="form-label">Tarjeta Gráfica</label>
          <select class="form-select" id="tarjetaGraficaBusqueda" [(ngModel)]="tarjetaGraficaBusqueda" (change)="onFiltroChange()">
            <option value="">Todas las tarjetas gráficas</option>
            <option *ngFor="let tarjetaGrafica of tarjetasGraficas" [value]="tarjetaGrafica">{{ tarjetaGrafica }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Rango de Precio</label>
          <div class="slider-container">
            <input type="range" min="0" max="10000" [(ngModel)]="precioMin" class="slider slider-large" id="minPriceRange" (input)="onFiltroChange()">
            <input type="range" min="0" max="10000" [(ngModel)]="precioMax" class="slider slider-large" id="maxPriceRange" (input)="onFiltroChange()">
          </div>
          <div class="d-flex justify-content-between">
            <span>Min: ${{ precioMin }}</span>
            <span>Max: ${{ precioMax }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-between mb-4">
        <input type="text" [(ngModel)]="searchQuery" class="form-control search-input" placeholder="Buscar productos..." (input)="onSearch()">
        <button class="btn btn-primary ms-3" (click)="mostrarFavoritos()">
          {{ mostrandoFavoritos ? 'Mostrar Todo' : 'Ver Favoritos' }}
        </button>
      </div>
      <div *ngIf="filteredProductos.length; else noData" class="row g-3">
        <div *ngFor="let producto of filteredProductos" class="col-md-4">
          <div class="card h-100 product-card" (click)="verDetalles(producto.id!)">
            <div class="position-relative">
              <img [src]="producto.imagen" class="card-img-top" alt="Imagen del Producto">
              <i *ngIf="!mostrandoFavoritos" class="fa fa-star position-absolute top-0 end-0 m-2 text-warning" (click)="agregarAFavoritos(producto.id!); $event.stopPropagation()" style="cursor: pointer;"></i>
              <i *ngIf="mostrandoFavoritos" class="fa fa-trash position-absolute top-0 end-0 m-2 text-danger" (click)="eliminarDeFavoritos(producto.id!); $event.stopPropagation()" style="cursor: pointer; right: 30px;"></i>
            </div>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">{{ producto.descripcion }}</p>
              <p class="card-text"><small class="text-muted">Precio: ${{ producto.precio }}</small></p>
              <div class="mt-auto d-flex justify-content-between">
                <button *ngIf="producto.id != null" class="btn custom-btn-primary" (click)="agregarAlCarrito(producto.id!); $event.stopPropagation()">Añadir al Carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <div class="text-center mt-4">
          <p>No hay productos disponibles.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
