<div class="container my-2">
  <h2 class="mb-4 text-center">Mis Favoritos</h2>
  <div *ngIf="favoritos.length; else noData" class="row">
    <div *ngFor="let favorito of favoritos" class="col-md-4 mb-4">
      <div class="card h-100 product-card">
        <div class="position-relative">
          <img [src]="favorito.imagen" alt="{{ favorito.nombre }}" class="img-fluid rounded shadow">
          <i class="fa fa-trash position-absolute top-0 end-0 m-2 text-danger" style="cursor: pointer;" (click)="confirmarEliminarDeFavoritos(favorito.id)"></i>
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ favorito.nombre }}</h5>
          <p class="card-text">{{ favorito.descripcion }}</p>
          <p class="card-text"><small class="text-muted">Precio: ${{ favorito.precio }}</small></p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="text-center mt-4">
      <p>No hay productos en tus favoritos.</p>
    </div>
  </ng-template>
</div>
