.carousel-item img {
    object-fit: cover;
    height: 50vh;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1.display-4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

section {
    padding: 60px 0;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.feature-box {
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    color: #007bff;
    font-size: 3rem;
}

#testimonials {
    background-color: #f8f9fa;
}

#testimonials h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

.testimonial-card {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

.testimonial-text {
    font-size: 1.1rem;
    color: #555;
    font-style: italic;
}

.blockquote-footer {
    font-size: 0.9rem;
    color: #020202;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #testimonials h2 {
      font-size: 2rem;
    }

    .testimonial-text {
      font-size: 1rem;
    }

    .blockquote-footer {
      font-size: 0.8rem;
    }
}

footer {
    background-color: #699acc;
    color: rgb(22, 21, 21);
    padding: 20px 0;
}

footer a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}
